# CAO Points Notebook 

*** 

The first section within this notebook will load the CAO point for the years 2021, 2020, & 2019 and provide a clear and concise overview of how to do so.

***

## Loading the data

In [1]:
# Convenient HTTP requests
import requests as rq
# Importing regular expressions
import re
import datetime as dt
import pandas as pd
import urllib.request as urlrq
import matplotlib.pyplot as plt

In [2]:
#current date and time.
now = dt.datetime.now()

# Format the above as a string.
nowstr = now.strftime('%Y%m%d_%H%M%S')

## 2021 Data

In [3]:
# First need to use 'requests' to pull the 2021
resp = rq.get('http://www2.cao.ie/points/l8.php')

# check
resp

### Saving the original data set 

***

In [4]:
pathhtml = 'data/cao2021' +  nowstr + '.html'

In [5]:
# the server uses the wrong encoding, fixing it.

original_encoding = resp.encoding
#changing it to cp1252

resp.encoding = 'cp1252'

# save the original file

with open(pathhtml, 'w') as f:
    f.write(resp.text)

### Using regular expression

In [6]:
#compile regular expression for matching lines. 
# this will make the code below more efficient 
re_course = re.compile(r'([A-Z]{2}[0-9]{3})(.*)')

In [7]:
path2021 = 'data/cao2021' +  nowstr + '.csv'    

no_lines = 0 
#looping through the lines of the response content.
# Open the csv file for writing.
with open(path2021, 'w') as f:
    # Writing the header.
    f.write(','.join(['Course code', 'Course title', 'Round 1 Points', 'Round 2 Points']) + '\n')
    # Looping through the lines
    for line in resp.iter_lines():
        # Decode the line, using the wrong encoding!
        dline = line.decode('cp1252')
        # Match only the lines representing courses.
        if re_course.fullmatch(dline):
            # Add one to the lines counter.
            no_lines = no_lines + 1
            # course code.
            course_code = dline[:5]
            # course title.
            course_title = dline[7:57].strip()
            # Round one points.
            course_points = re.split(' +', dline[60:])
            if len(course_points) != 2:
                course_points = course_points[:2]
            # Join the fields using a comma.
            linesplit = [course_code, course_title, course_points[0], course_points[1]]
            #print(len(linesplit), linesplit, dline)
            # Rejoin the substrings with commas in between.
            f.write(','.join(linesplit) + '\n')
print(f"The total number of lines is {no_lines}.")

The total number of lines is 949.

In [8]:
df2021 = pd.read_csv(path2021, encoding='cp1252')

In [9]:
df2021

,Course code,Course title,Round 1 Points,Round 2 Points
0,AL801,Software Design for Virtual Reality and Gaming,300,NaN
1,AL802,Software Design in Artificial Intelligence for...,313,NaN
2,AL803,Software Design for Mobile Apps and Connected ...,350,NaN
3,AL805,Computer Engineering for Network Infrastructure,321,NaN
4,AL810,Quantity Surveying,328,NaN
...,...,...,...,...
944,WD211,Creative Computing,270,NaN
945,WD212,Recreation and Sport Management,262,NaN
946,WD230,Mechanical and Manufacturing Engineering,230,230
947,WD231,Early Childhood Care and Education,266,NaN
948,WD232,Business Information Systems,261,261

<br>

## 2020 Points

### Saving original file

In [10]:
path = 'data/original_cao2020_' +  nowstr + '.xlsx'

In [11]:
urlrq.urlretrieve('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', path)

('data/original_cao2020_20211125_112644.xlsx',
 <http.client.HTTPMessage at 0x29c37bd4dc0>)

In [12]:
# download and parse the excel spreadsheet
#skiprow to skip the first 10 rows
df = pd.read_excel('http://www2.cao.ie/points/CAOPointsCharts2020.xlsx', skiprows=10)

In [13]:
df

,CATEGORY (i.e.ISCED description),COURSE TITLE,COURSE CODE2,R1 POINTS,R1 Random *,R2 POINTS,R2 Random*,EOS,EOS Random *,EOS Mid-point,...,avp,v,Column1,Column2,Column3,Column4,Column5,Column6,Column7,Column8
0,Business and administration,International Business,AC120,209,NaN,NaN,NaN,209,NaN,280,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Humanities (except languages),Liberal Arts,AC137,252,NaN,NaN,NaN,252,NaN,270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Arts,"First Year Art & Design (Common Entry,portfolio)",AD101,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arts,Graphic Design and Moving Image Design (portfo...,AD102,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arts,Textile & Surface Design and Jewellery & Objec...,AD103,#+matric,NaN,NaN,NaN,#+matric,NaN,#+matric,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,Manufacturing and processing,Manufacturing Engineering,WD208,188,NaN,NaN,NaN,188,NaN,339,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1460,Information and Communication Technologies (ICTs),Software Systems Development,WD210,279,NaN,NaN,NaN,279,NaN,337,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1461,Information and Communication Technologies (ICTs),Creative Computing,WD211,271,NaN,NaN,NaN,271,NaN,318,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1462,Personal services,Recreation and Sport Management,WD212,270,NaN,NaN,NaN,270,NaN,349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1463,Engineering and engineering trades,Mechanical and Manufacturing Engineering,WD230,253,NaN,NaN,NaN,253,NaN,369,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#spotchecks with dataset 
df.iloc[754]

CATEGORY (i.e.ISCED description)    Engineering and engineering trades
COURSE TITLE                                    Mechanical Engineering
COURSE CODE2                                                     LC288
R1 POINTS                                                          347
R1 Random *                                                        NaN
R2 POINTS                                                          346
R2 Random*                                                         NaN
EOS                                                                346
EOS Random *                                                       NaN
EOS Mid-point                                                      415
LEVEL                                                                8
HEI                                   Limerick Institute of Technology
Test/Interview #                                                   NaN
avp                                                                NaN
v                                                                  NaN
Column1                                                            NaN
Column2                                                            NaN
Column3                                                            NaN
Column4                                                            NaN
Column5                                                            NaN
Column6                                                            NaN
Column7                                                            NaN
Column8                                                            NaN
Name: 754, dtype: object

In [15]:
df.iloc[1463]

CATEGORY (i.e.ISCED description)          Engineering and engineering trades
COURSE TITLE                        Mechanical and Manufacturing Engineering
COURSE CODE2                                                           WD230
R1 POINTS                                                                253
R1 Random *                                                              NaN
R2 POINTS                                                                NaN
R2 Random*                                                               NaN
EOS                                                                      253
EOS Random *                                                             NaN
EOS Mid-point                                                            369
LEVEL                                                                      8
HEI                                        Waterford Institute of Technology
Test/Interview #                                                         NaN
avp                                                                      NaN
v                                                                        NaN
Column1                                                                  NaN
Column2                                                                  NaN
Column3                                                                  NaN
Column4                                                                  NaN
Column5                                                                  NaN
Column6                                                                  NaN
Column7                                                                  NaN
Column8                                                                  NaN
Name: 1463, dtype: object

In [16]:
# creating a file path for the pandas data
path = 'data/original_cao2020_' +  nowstr + '.csv'

In [17]:
df.to_csv(path)   #saving pandas to disk

***
## 2019 Points

#### Steps to reproduce 

- look up truncate?

1. Download origanl pdf.
2. Open pdf in word.
3. Save word word's converted pdf as docx file.
4. Re save word doc for editing.
5. delete headers and footers
6. Delete preamble
7. select all and copy
8. paste into Notepad ++
9. Remove HEI name headings and paste onto each course line
10. Delte blank lines
11. replace duouble tab characters with single characters 
12. change backticks to apostrophes

In [18]:
df2019 = pd.read_csv('data/cao2019_2311.csv', sep= '\t')

In [19]:
df2019

,HEI Course,Code,INSTITUTION and COURSE,EOS,Mid
0,Athlone Institute of Technology,AL801,Software Design with Virtual Reality and Gaming,304,328.0
1,Athlone Institute of Technology,AL802,Software Design with Cloud Computing,301,306.0
2,Athlone Institute of Technology,AL803,Software Design with Mobile Apps and Connected...,309,337.0
3,Athlone Institute of Technology,AL805,Network Management and Cloud Infrastructure,329,442.0
4,Athlone Institute of Technology,AL810,Quantity Surveying,307,349.0
...,...,...,...,...,...
923,Waterford Institute of Technology,WD200,Arts (options),221,296.0
924,Waterford Institute of Technology,WD210,Software Systems Development,271,329.0
925,Waterford Institute of Technology,WD211,Creative Computing,275,322.0
926,Waterford Institute of Technology,WD212,Recreation and Sport Management,274,311.0
927,Waterford Institute of Technology,WD230,Mechanical and Manufacturing Engineering,273,348.0